# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/
static_collected/

# Virtual environment
.venv/
venv/
env/

# Environment
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
